<div class="parents">


    <div class="child" id="child1">
     

    </div>


        <div class="child" id="child2">
            <div class="sub-child2">
                  <img src="https://cdn.prod.website-files.com/655e631177d7c97bb2811040/655e6a8b59f5009057a9436a_AWARDSLOGO.webp" alt="">
             <h3>Voted 2023 Favourite Pet Relocation Company in <br> Dubai First Runner Up</h3>
      
            </div>
             </div>


            <div class="child" id="child3">
                 <div class="sub-3"><h1>IPATA</h1><h3>MEMBERS</h3></div>
                 <div class="sub-3"><h1>10yrs+</h1><h4>of relocations</h4></div>
                 <div class="sub-3"><h1>24/7</h1><h4>support during journeys</h4></div>
            </div>

    <div class="child" id="child-4">
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
           <div class="child-4">
        <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Fscontent-phx1-1.cdninstagram.com%2Fv%2Ft51.82787-15%2F516270690_18484882258067921_6359780469171898596_n.jpg%3Fstp%3Ddst-jpg_e35_tt6%26_nc_cat%3D111%26ccb%3D1-7%26_nc_sid%3D18de74%26efg%3DeyJlZmdfdGFnIjoiQ0FST1VTRUxfSVRFTS5iZXN0X2ltYWdlX3VybGdlbi5DMyJ9%26_nc_ohc%3DG1jwXrm0pacQ7kNvwEEqjjS%26_nc_oc%3DAdn3GY4rvN-fYnOQRpgliJTsXO-ySNlGdSrX59Y4mKdc1A_mZYtYLoNdvvzWSVIaH6c%26_nc_zt%3D23%26_nc_ht%3Dscontent-phx1-1.cdninstagram.com%26edm%3DAM6HXa8EAAAA%26_nc_gid%3DhtjiCOchgVvURxBW-TCeJw%26oh%3D00_Aff8mPxU3iTRnovLnDR3GJwhy7yxqBFoSgUOwugrcxxWlg%26oe%3D68F7F735" alt="Gladys and Myrtle in their natural habitat 🛩️🩵 @k9jets_ They flew to the #U..." eapps-link="image">
       </div>
       
    </div>



    <div class="child" id="child-5">
        <h3>    Grab a coffee and have a chat with us about your pet's relocation. We know there is a lot to try to absorb between UAE <br> movers and packers, visas and logistics. Often it's much easier and nicer to talk. With over 10 years of experience there is <br>
         very little we haven't seen
‍‍</h3>
    </div>


    <div class="child" id="child-6">
        <div class="child-6">
            <video src="assets/logo.mp4" autoplay loop muted></video>
        </div>
        <div class="child-6">
            <div class="sub-child6">
                                <img src="	https://fidojet.in/wp-content/uploads/2023/12/8.png" alt="">

            </div>
            <div class="sub-child6">
                                <img src="	https://fidojet.in/wp-content/uploads/2023/12/8.png" alt="">

            </div>
            <div class="sub-child6">
                <img src="	https://fidojet.in/wp-content/uploads/2023/12/8.png" alt="">
            </div>
            <div class="sub-child6">
                                <img src="	https://fidojet.in/wp-content/uploads/2023/12/6.png" alt="">

            </div>
            <div class="sub-child6">
                                <img src="	https://fidojet.in/wp-content/uploads/2023/12/8.png" alt="">

            </div>
            <div class="sub-child6">
                                <img src="	https://fidojet.in/wp-content/uploads/2023/12/8.png" alt="">

            </div>
        </div>
    </div>



</div>